__pycache__/
*.py[cod]
*.so
.Python
.env
.env.*
*.log
.mypy_cache/
.pytest_cache/
.coverage
.pytest_cache
htmlcov/
build/
dist/
.eggs/
*.egg-info/
.git/
.gitignore
.vscode/
.idea/
node_modules/
.mcache/
